html,body{height:100%;overflow:hidden}
body {
    padding: 0;
    margin:0;
    height: 100vh;
    position: relative;
    overflow-x: hidden;
    overflow-y: hidden;
}

#container {
    width: 100%;
    height: 100%;
    background-color: #000000;
}

#mydebug_01 {
    position: absolute;
    left: 0;
    bottom: 30px;
}

#mydebug_02 {
    position: absolute;
    left: 0;
    bottom: 10px;
}

#result {
    position: absolute;
    left: 0;
    top: 0;
}
#play{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: none;
    border: none;
    width: 500px;
    height: 269px;
}
#loadtext
{
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: none;
    border: none;
    line-height: normal;
    font-weight: 400;
    font-family: 'ArialMT', 'Arial';
    color:#ffffff;
}

#start{
    position: absolute;
    left: 50%;
    bottom: 50px;
    transform: translateX(-50%);
    display: none;
    border: none;
    width: 500px;
    height: 120px;
    background: none;
    z-index: 100;
}
#close{
    position: absolute;
    bottom:50px;
    right:50%;
    margin-right: -150px; 
    /* left: 50%;
    bottom: 50px; */
    /* transform: translateX(-50%); */
    display: none;
    border: none;
    width: 300px;
    height: 100px;
    background: none;
    z-index: 100;
}
#close .image{
    width: 35% !important;
}
#start .image{
    width: 45% !important;
}

.next{
    position: absolute;
    top: 80%;
    left: 50%;
    transform: translate(-50%, -50%);
}
#next
{
    display: none;
    width: 300px;
    height: 80px;
    border: none;
    background: none;
}
#next .image{
    width: 60% !important;
}


#loading {
    position: absolute;
    top: 85%;
    left: 50%;
    width: 100%;
    transform: translate(-50%, -50%);
    line-height: normal;
    font-weight: 400;
    font-family: 'ArialMT', 'Arial';
    color:#ffffff;
}
.v-center{
    width: 100%;
    max-height: 100%;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
    -moz-transform: translate(-50%,-50%);
    -webkit-transform: translate(-50%,-50%);
    -o-transform: translate(-50%,-50%);
}
.vn{
    visibility: hidden;
}
.dn{
    display: none;
}
.dlb{
    display: inline-block;
}
.images-list-content{
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}








.webAR-index-iOS {
    position: absolute;
    left: 50%;
    bottom: 25px;
    transform: translateX(-50%);
    z-index: 1000;
    width:70%;
}

.webAR-index-iOS img {
    display: block;
    width: 80%;
    height: auto;
    margin: 0 auto;
}

.bg-contetn{
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: url('../images/bg2.png') 0 0 no-repeat;
    background-size: cover;
}

.bg-contetn .left-logo{
    position: absolute;
    top: 50px;
    left: 22px;
    width: 75px;
    z-index: 1000;
}

.bg-contetn .right-logo{
    position: absolute;
    top: 50px;
    right: 22px;
    width: 75px;
    z-index: 1000;
}
.bg-contetn .center-logo{
    position: absolute;
    top: 35px;
    left: 50%;
    transform:translateX(-50%);
    width: 15%;
    z-index: 1000;
}
.bg-contetn .right-btn{
    position:absolute;
    top:50px;
    right:22px;
    width:75px;
    z-index:100;
}


#testVideo{
    max-width: 100%;
    max-height: 100%;
}

#videos {
    width: 100%;
    height: 50%;
    z-index: 100;
}


#distance-status {
    width: 80px;
    height: 40px;
    border-radius: 10px;
    position: fixed;
    z-index: 10000;
    top: 30px;
    left: 20px;
    background-color: #ff0000;
    color: #fff;
    line-height: 40px;
    text-align: center;
}

#distance-text {
    position: fixed;
    left: 120px;
    top: 40px;
    color: #666;
    z-index: 999;
    display: none;
}




#showimg01{ display: none;  position: absolute;  top: 0 !important;  left: 0 !important;width: 100% !important;  height: 100% !important;z-index:1002}
#showimg02{ display: none;  position: absolute;  top: 25%;  left: 25%;width: 50%;  height: 50%;z-index:1003}